/*a { color: #dc8100; text-decoration: none; }
a:hover { color: #efe8e8; text-decoration: none; }*/
body {
    margin: 0;
    padding: 0;
    width: 100vw !important;
    top: 0 !important;
    position: fixed;
    overflow-x: hidden;
    overflow: auto;
}

img.file {
    content: url('../asset/file.svg');
}

img.dir {
    content: url('../asset/dir.svg');
}

.location#location-div * {
    user-select: none;
}

.blob-view .content {
    overflow: auto;
    padding: 0;
    overflow-x: auto;
}

.blob-view .content pre {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
}

/*.blob-view .content pre code {
    width: calc(100% - 4.8em);
}*/

.blob-view .content pre.line-numbers {
    width: calc(100% - 4.8em);
}

.blob-view .content:has(iframe[src*="pdf.js"]) {
    overflow-y: hidden;
}

.blob-view .content pre:not(.line-numbers) {
    padding: 1% 1%;
/*     text-wrap: balance; */
}

ul.tree {
    max-height: 40vh;
    overflow: auto;
}


body:has(ul.tree[hidden]),
body:has(#preview-div[hidden]),
{
    height: 100vh !important;
    overflow: hidden;
}

body:has(#preview-div[hidden]) ul.tree {
    max-height: 75vh;
}

body:has(ul.tree[hidden]) .blob-view .content {
    height: 70vh !important;
}

div.footer {
    transform: translateY(-50%);
}

body:has(#preview-div[hidden]) div.footer,
body:has(ul.tree[hidden]) div.footer
{
    position: fixed;
    bottom: 1em;
}

body:has(ul.tree[hidden]):has(#preview-div[hidden]):has(.container div.location[hidden]) div.footer {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 10px;
    border: solid;
    outline: none;
    user-select: none;
    border-radius: 5px;
    border-color: cornflowerblue;
    height: fit-content;
    width: max-content;
}

div.location * {
    direction: ltr;
}
