/*a { color: #dc8100; text-decoration: none; }
a:hover { color: #efe8e8; text-decoration: none; }*/
body {
    margin: 0;
    padding: 0;
    width: 100vw !important;
    top: 0 !important;
    position: fixed;
    overflow-x: hidden;
    overflow: auto;
}

img.file {
    content: url('../asset/file.svg');
}

img.dir {
    content: url('../asset/dir.svg');
}

.location#location-div * {
    user-select: none;
}

.blob-view .content {
    overflow: auto;
    padding: 0;
    overflow-x: auto;
}

.blob-view .content pre {
    margin: 0;
    padding: 1% 1%;
/*     text-wrap: balance; */
}

ul.tree {
    max-height: 40vh;
    overflow: auto;
}


body:has(ul.tree[hidden]),
body:has(#preview-div[hidden]),
{
    height: 100vh !important;
    overflow: hidden;
}

body:has(#preview-div[hidden]) ul.tree {
    max-height: 75vh;
}

body:has(ul.tree[hidden]) .blob-view .content {
    height: 70vh !important;
}
