:root {
  --text-color: #333;
  --link-color: #16b;
  --background-color: #fff;

  --border-color-hard: #e0e0e0;
  --border-color-soft: #f0f0f0;

  --markdown-line-color: #eee;
  --markdown-code-color: #f2f2f2;

  --header-color: #444;
  --header-background-color: #fafafa;

  --button-color: #000;
  --button-background-color: #eee;
  --button-border-color: #ddd;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
}

input {
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid var(--border-color-hard);
  border-radius: 5px;
}

.container {
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.container > *:first-child {
  padding-top: 2rem;
  margin-top: 0;
}

.container > .space {
  padding-bottom: 3rem;
}

.tree {
  font-size: 0.9rem;
  border: 1px solid var(--border-color-hard);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tree li {
  padding: 1em;
}

.tree .entry {
  position: relative;
  display: flex;
  border-top: 1px solid var(--border-color-soft);
}

.tree .entry a {
  color: var(--text-color);
}

.tree .entry a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tree .entry a {
  text-decoration: none;
}
.tree .entry a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

article.readme,
.tree,
.blob-view,
.location {
  border-radius: 5px;
  margin: 2em auto;
  margin-bottom: 1.2em;
  max-width: 95vw;
}

article.readme,
.blob-view {
  border: 1px solid var(--border-color-hard);
}

.location {
  color: #aaa;
}
.location > * {
  margin: 0 0.1em;
  color: var(--text-color);
}

.location a {
  color: var(--link-color);
  text-decoration: none;
}
.location a:hover {
  text-decoration: underline;
}

.location *:nth-child(1) {
  font-weight: bold;
  filter: brightness(80%);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 4px;
  align-items: center;
  padding: 1em;
  font-size: 0.9rem;
  background-color: var(--header-background-color);
  color: var(--header-color);
  overflow-x: auto;
}

.last {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  margin: -1em auto;
}

.btn {
  display: inline-block;
  font-size: 10pt;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  text-decoration: none;
  color: var(--button-color);
  cursor: pointer;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  min-width: 3em;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  margin: auto 1em auto 0;
  width: 16px;
  height: 16px;
}

.content {
  padding: 1em;
  border-top: 1px solid var(--border-color-soft);
}

.content .content-img {
  display: flex;
  justify-content: center;
}
.content .content-img img {
  max-width: 100%;
}

.footer {
  zoom: 1.5;
  bottom: 0;
  width: 100%;
  /*     height: 3rem; */

  margin: auto;
  text-align: center;
  font-size: 0.8rem;
}

.footer a {
  color: var(--link-color);
}

.markdown {
  font-size: 0.9rem;
  padding: 2em;
}
.markdown h1 {
  font-size: 1.5rem;
  margin: 1em 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--markdown-line-color);
}
.markdown h2 {
  font-size: 1.3rem;
  margin: 1em 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--markdown-line-color);
}
.markdown p {
  line-height: 1.5;
}
.markdown img {
  vertical-align: middle;
  max-width: 100%;
}
.markdown a {
  color: var(--link-color);
  text-decoration: none;
}
.markdown a:hover {
  text-decoration: underline;
}

.markdown pre {
  background-color: var(--background-color);
  font-size: 0.8rem;
  padding: 0.8em 1em;
  border: 1px solid var(--markdown-line-color);
  border-radius: 5px;
}
.markdown pre code {
  background-color: inherit;
  padding: 0;
}
.markdown code {
  background-color: var(--markdown-code-color);
  border-radius: 5px;
  padding: 2px 4px;
}
.markdown p code {
  font-size: 0.88em;
}
.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown td,
.markdown th {
  padding: 0.5em 1em;
  border: 1px solid var(--markdown-line-color);
}
.markdown br {
  display: none;
}

/* Spinner elipses */

.loader--ellipsis {
  display: inline-block;
  position: relative;
  height: 64px;
  width: 64px;
}

.loader--ellipsis div {
  position: absolute;
  top: 27px;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

.loader--ellipsis div:nth-child(1) {
  left: 6px;
  animation: loader--ellipsis1 0.6s infinite;
}

.loader--ellipsis div:nth-child(2) {
  left: 6px;
  animation: loader--ellipsis2 0.6s infinite;
}

.loader--ellipsis div:nth-child(3) {
  left: 26px;
  animation: loader--ellipsis2 0.6s infinite;
}

.loader--ellipsis div:nth-child(4) {
  left: 45px;
  animation: loader--ellipsis3 0.6s infinite;
}

@keyframes loader--ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader--ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader--ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.loader--spinner div:after,
.loader--ellipsis div {
  background: crimson;
}

.loader--spinner {
  display: inline-block;
  position: relative;
  color: official;
  height: 60px;
  width: 60px;
}

.loader--spinner div {
  animation: loader--spinner 1.2s linear infinite;
  transform-origin: 30px 30px;
}

.loader--spinner div:after {
  display: block;
  position: absolute;
  top: 3px;
  left: 27px;
  border-radius: 20%;
  content: " ";
  height: 10px;
  width: 5px;
}

.loader--spinner div:nth-child(1) {
  animation-delay: -1.1s;
  transform: rotate(0deg);
}

.loader--spinner div:nth-child(2) {
  animation-delay: -1s;
  transform: rotate(30deg);
}

.loader--spinner div:nth-child(3) {
  animation-delay: -0.9s;
  transform: rotate(60deg);
}

.loader--spinner div:nth-child(4) {
  animation-delay: -0.8s;
  transform: rotate(90deg);
}

.loader--spinner div:nth-child(5) {
  animation-delay: -0.7s;
  transform: rotate(120deg);
}

.loader--spinner div:nth-child(6) {
  animation-delay: -0.6s;
  transform: rotate(150deg);
}

.loader--spinner div:nth-child(7) {
  animation-delay: -0.5s;
  transform: rotate(180deg);
}

.loader--spinner div:nth-child(8) {
  animation-delay: -0.4s;
  transform: rotate(210deg);
}

.loader--spinner div:nth-child(9) {
  animation-delay: -0.3s;
  transform: rotate(240deg);
}

.loader--spinner div:nth-child(10) {
  animation-delay: -0.2s;
  transform: rotate(270deg);
}

.loader--spinner div:nth-child(11) {
  animation-delay: -0.1s;
  transform: rotate(300deg);
}

.loader--spinner div:nth-child(12) {
  animation-delay: 0s;
  transform: rotate(330deg);
}

@keyframes loader--spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
